.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
test/
chromedriver
*.log
config.py
*.html
mainx.py
parsed.py
test_proxy.py


*.pot
*.pyc
__pycache__
*.bak

.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

*.py[cod]
*$py.class

.python-version


click_service/src/config.py

*.db
test.*

*.sqlite3
#api/api/production.py
production.py



google/*